<a href="https://colab.research.google.com/github/suvasish114/Facility-Detection-and-Popularity-Assessment/blob/main/tweet_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrapping tweets

In [27]:
# installing packages
# %pip install snscrape numpy pandas

In [28]:
# import libraries
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [29]:
# configarations
limit = 10000
tweets = []
keywords = " OR ".join(["airport"]).strip()
query =  "("+ keywords +") " +"until:2023-03-06 since:2022-01-01 -filter:replies"

In [30]:
# getting data
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    if len(tweets) == limit: break
    if tweet.coordinates != None and tweet.lang == 'en':
        # for a in vars(tweet): print(a)
        # print(f"#: {tweet.place}")
        tweets.append([
            tweet.id,
            tweet.date,
            tweet.user.username,
            tweet.rawContent,
            tweet.hashtags,
            tweet.likeCount,
            tweet.viewCount,
            tweet.coordinates.longitude,
            tweet.coordinates.latitude,
            tweet.place.name,
            tweet.place.country
        ])

In [31]:
# creating dataframe
df = pd.DataFrame(tweets, columns=['id','date','username','content','hashtags','likes','view','longitude','latitude','place','country'])
df.head()

,id,date,username,content,hashtags,likes,view,longitude,latitude,place,country
0,1632167376933494786,2023-03-04 23:53:21+00:00,antoinettegaga,My gym üí™üèª and my airport ‚úàÔ∏è with the killers a...,None,2,46,-115.355825,36.082837,Summerlin South,United States
1,1632166965446955013,2023-03-04 23:51:43+00:00,earthnerdemma,Jfk airport has all these murals that say ‚ÄúNew...,None,4,181,-73.962582,40.541722,Queens,United States
2,1632165762373926912,2023-03-04 23:46:56+00:00,Shambhavi130,Delhi airport's food isn't as great as people ...,None,27,983,76.842520,28.397657,New Delhi,India
3,1632164068013510659,2023-03-04 23:40:12+00:00,mr_iiot,Love @CBP @CBPLosAngeles 16 mins from touch do...,None,1,4,-118.429843,33.901804,El Segundo,United States
4,1632163378092294145,2023-03-04 23:37:28+00:00,M_Johnson681,"12 hours, 3 airports, 2 airlines, and 1 rental...",[WWEToronto],3,460,-79.639319,43.403221,Toronto,Canada

In [32]:
df.to_csv("twitter.csv")